In [2]:
# date :- 03/11/2025
# Merging data - it is used to merged two differnt data by using joins
# joins - inner, left, righ, full-join

In [4]:
import pandas as pd

In [5]:
stu = pd.DataFrame({
    'stu_id': [101,102,103,104,105,106,107],
    'Name' : ['Joy','Sam', 'ram', 'sham','raj', 'Nakul', 'nirov'],
    'Age': [22,21,23,24,25,26,27]
   })

In [7]:
score = pd.DataFrame(
    {
         'stu_id': [101,102,103],
        'sub': ['math', 'science', 'history'],
        'Score' :[75,82,61]
        
    })

In [11]:
print(stu)
print('-----------------------------------------------------')
print(score)

   stu_id   Name  Age
0     101    Joy   22
1     102    Sam   21
2     103    ram   23
3     104   sham   24
4     105    raj   25
5     106  Nakul   26
6     107  nirov   27
-----------------------------------------------------
   stu_id      sub  Score
0     101     math     75
1     102  science     82
2     103  history     61

In [13]:
# inner join (merge())

inner_merge = pd.merge(stu,score, on ='stu_id')
print(inner_merge)

   stu_id Name  Age      sub  Score
0     101  Joy   22     math     75
1     102  Sam   21  science     82
2     103  ram   23  history     61

In [14]:
# left join

left_join = pd.merge(stu,score, on ='stu_id',how = 'left')
print(left_join)

   stu_id   Name  Age      sub  Score
0     101    Joy   22     math   75.0
1     102    Sam   21  science   82.0
2     103    ram   23  history   61.0
3     104   sham   24      NaN    NaN
4     105    raj   25      NaN    NaN
5     106  Nakul   26      NaN    NaN
6     107  nirov   27      NaN    NaN

In [15]:
# Right_ join

righ_join = pd.merge(stu,score, on ='stu_id',how = 'right')
print(righ_join)

   stu_id Name  Age      sub  Score
0     101  Joy   22     math     75
1     102  Sam   21  science     82
2     103  ram   23  history     61

In [16]:
# full_join

full_join = pd.merge(stu,score, on= 'stu_id', how = 'outer')
print(full_join)

   stu_id   Name  Age      sub  Score
0     101    Joy   22     math   75.0
1     102    Sam   21  science   82.0
2     103    ram   23  history   61.0
3     104   sham   24      NaN    NaN
4     105    raj   25      NaN    NaN
5     106  Nakul   26      NaN    NaN
6     107  nirov   27      NaN    NaN