In [ ]:
# practice 02

# created DataFrame
# Series
# head() and tail()
# dtypes()
# info
# describe
# index
# columns it present in horizontal and how to present columns in vertical form 
# iloc
# Conditional and multiple conditional
# how to save data 

# add new column
# def the new parameter 
# apply that parameter

In [5]:
import pandas as pd

In [6]:
data = {
    'Roll_no' :[101,102,103,104,105,106,107,108,109,110],
    'Name' : ['Ravi','Roy','Hemant','Ujjawal', 'Jai','Nilesh','Parel','Pod','Nod', 'Tod'],
    'Div': ['A','B','C','A','C','B','B','A','C','B'],
    'Marks': [50,51,60,62,70,71,80,84,90,92]
}
print(data)

{'Roll_no': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110], 'Name': ['Ravi', 'Roy', 'Hemant', 'Ujjawal', 'Jai', 'Nilesh', 'Parel', 'Pod', 'Nod', 'Tod'], 'Div': ['A', 'B', 'C', 'A', 'C', 'B', 'B', 'A', 'C', 'B'], 'Marks': [50, 51, 60, 62, 70, 71, 80, 84, 90, 92]}

In [7]:
df = pd.DataFrame(data)
print(df)

   Roll_no     Name Div  Marks
0      101     Ravi   A     50
1      102      Roy   B     51
2      103   Hemant   C     60
3      104  Ujjawal   A     62
4      105      Jai   C     70
5      106   Nilesh   B     71
6      107    Parel   B     80
7      108      Pod   A     84
8      109      Nod   C     90
9      110      Tod   B     92

In [8]:
print(df.head())

   Roll_no     Name Div  Marks
0      101     Ravi   A     50
1      102      Roy   B     51
2      103   Hemant   C     60
3      104  Ujjawal   A     62
4      105      Jai   C     70

In [9]:
print(df.tail())

   Roll_no    Name Div  Marks
5      106  Nilesh   B     71
6      107   Parel   B     80
7      108     Pod   A     84
8      109     Nod   C     90
9      110     Tod   B     92

In [10]:
print(df.dtypes)

Roll_no     int64
Name       object
Div        object
Marks       int64
dtype: object

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Roll_no  10 non-null     int64
 1   Name     10 non-null     object
 2   Div      10 non-null     object
 3   Marks    10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 452.0+ bytes
None

In [12]:
print(df.columns)

Index(['Roll_no', 'Name', 'Div', 'Marks'], dtype='object')

In [13]:
col = df.columns.tolist()
for i in col:
    print(i)

Roll_no
Name
Div
Marks

In [14]:
df.describe()

         Roll_no      Marks
count   10.00000  10.000000
mean   105.50000  71.000000
std      3.02765  15.260698
min    101.00000  50.000000
25%    103.25000  60.500000
50%    105.50000  70.500000
75%    107.75000  83.000000
max    110.00000  92.000000

In [15]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [16]:
print(df)

   Roll_no     Name Div  Marks
0      101     Ravi   A     50
1      102      Roy   B     51
2      103   Hemant   C     60
3      104  Ujjawal   A     62
4      105      Jai   C     70
5      106   Nilesh   B     71
6      107    Parel   B     80
7      108      Pod   A     84
8      109      Nod   C     90
9      110      Tod   B     92

In [17]:
print(df.iloc[3])

Roll_no        104
Name       Ujjawal
Div              A
Marks           62
Name: 3, dtype: object

In [18]:
print(df.iloc[5:,3])

5    71
6    80
7    84
8    90
9    92
Name: Marks, dtype: int64

In [19]:
print(df.iloc[5:8,3])

5    71
6    80
7    84
Name: Marks, dtype: int64

In [20]:
# single condtion

print(df['Name'])

0       Ravi
1        Roy
2     Hemant
3    Ujjawal
4        Jai
5     Nilesh
6      Parel
7        Pod
8        Nod
9        Tod
Name: Name, dtype: object

In [21]:
print(df[df['Marks'] > 70])

   Roll_no    Name Div  Marks
5      106  Nilesh   B     71
6      107   Parel   B     80
7      108     Pod   A     84
8      109     Nod   C     90
9      110     Tod   B     92

In [22]:
def percentage(Marks):
    if Marks >= 85 and Marks < 100:
        return('A')
    elif Marks >= 75 and Marks < 84:
        return('B')
    else:
        return('C')
        
percentage(100)

'C'

In [23]:
df['per_%'] = df['Marks'].apply(percentage)

In [24]:
df

   Roll_no     Name Div  Marks per_%
0      101     Ravi   A     50     C
1      102      Roy   B     51     C
2      103   Hemant   C     60     C
3      104  Ujjawal   A     62     C
4      105      Jai   C     70     C
5      106   Nilesh   B     71     C
6      107    Parel   B     80     B
7      108      Pod   A     84     C
8      109      Nod   C     90     A
9      110      Tod   B     92     A

In [25]:
ascending = df.sort_values(by = ['per_%'])
print(ascending)

   Roll_no     Name Div  Marks per_%
8      109      Nod   C     90     A
9      110      Tod   B     92     A
6      107    Parel   B     80     B
0      101     Ravi   A     50     C
1      102      Roy   B     51     C
2      103   Hemant   C     60     C
3      104  Ujjawal   A     62     C
4      105      Jai   C     70     C
5      106   Nilesh   B     71     C
7      108      Pod   A     84     C

In [26]:
practice_02 = df.sort_values(by = ['per_%'])
practice_02.to_csv('practice_02', index = False)

In [27]:
df

   Roll_no     Name Div  Marks per_%
0      101     Ravi   A     50     C
1      102      Roy   B     51     C
2      103   Hemant   C     60     C
3      104  Ujjawal   A     62     C
4      105      Jai   C     70     C
5      106   Nilesh   B     71     C
6      107    Parel   B     80     B
7      108      Pod   A     84     C
8      109      Nod   C     90     A
9      110      Tod   B     92     A

In [28]:
practice_02 = df.sort_values(by = ['per_%'])
practice_02.to_excel('practice_02', index = False)

ValueError: No engine for filetype: ''