In [35]:
# chp 05 String  

#Intro
'''
string - characters

all numbers (1,2,3)
Alphabtes - (a-z, A-Z)
special symbols - (%$#@!)
white space - (" ")


single quote(' ' ) = 'python'
doule quote(" ") = "python"

'''

name = 'Tushar'

name1 = "tushar"

name2 = ''' this single multiple string '''

name3 = """ this double multiple string"""

print(name, name1,name2,name3)


#--------------------------------------------

characterstics
#1 immuteale - it canot change the value only we update the value in str
#2 index - through this we can acess one by one elements present in the variable
#slicing - is used to slice the index value 
#3 iterabel -  which is used with loops 
#4 real life examples -  used in to store the values since a string is simply a sequence of characters (letters, numbers, symbols, spaces, etc.)

#operation in str
# 1) lenght - is used how many characters are present inclusing space also
# 2) Concatenate -  this is used to merge the two str
# 3) Checking memberships - in or not inn
# 4) Methods =    upper
              #   lower
              #   capitalize
              #   title
              #   swap
              #   find (it find the index value = print(x.find("th"))
              #   replace
              #   splitting
              #   joins

Tushar tushar  this single multiple string   this double multiple string

In [5]:
#2 index

a = "python"

print(a[1:5])    #from left to right is positive indexing...(start with 0 )

a = "python"
print(a[-1:-5:-1])  # from right to left is negative indexing...(start with -1 )

ytho
noht

In [6]:
#slicing
'''
start,stop, step
start = 0
stop = 3
step = 2, 
'''

n = " my name is tushar singh"
print(n[0:6:1])
print(n[::])
print(n[-1:-10:-1])

 my na
 my name is tushar singh
hgnis rah

In [7]:
# 3iterable

language = 'python'
for i in language:
    print(i)

p
y
t
h
o
n

In [10]:
#operations
#lenght (len)

a = "python"
print(len(a))

b = "python is the king"
print(len(a))

6
6

In [11]:
# HW - using loops to count the variables
a = "python"
c = 0                #want to add a number to a counter, use a separate variable:
for i in a:
    c+=1
    print(i,c)

p 1
y 2
t 3
h 4
o 5
n 6

In [13]:
#small program on len

password = input('enter the password')

if len(password) > 5:
    print('Login Sucessfully ')
else:
    print('length is to short')

enter the password jjjjj

length is to short

In [14]:
# 2) Concatenate 

name = "Tushar"
surname = "singh"

print('Hi',name+ " " +surname)  #" " this used to made the space betweem two sentences and str is always conctenate with str values only
                                #  other wise its display the type error


num1 = "10"
num2 = "20"
print(num1+num2)   # this is str value not an int value.... 

num1 = 10
num2 = 20
print(num1+num2)   # this is int value which can add...

Hi Tushar singh
1020
30

In [15]:
# 3) Checking memberships  

text = "python is the king"

print("IN statement")
print("king" in text)             # in this if value is present then is true
print("lion" in text)             # in this if value is not present then is false

print("NOT IN statement")        
print("tiger" not in text)        # in this if value is not present then is true
print("python" not in text)       # in this if value is present then is false

IN statement
True
False
NOT IN statement
True
False

In [16]:
# small project on membership 

email = input('Enter the Emai-ID')

if '@gmail.com' in email:
    print('valid Email')
else:
    print('In-valid Email')

Enter the Emai-ID tusaa221

In-valid Email

In [17]:
# lowe and upper letters

a = "my name is tushar"
print(a.upper())

b = "PYTHON IS KING"
print(b.lower())

MY NAME IS TUSHAR
python is king

In [18]:
# upper case project 
Name = input('enter the name and last name').upper()
print(Name)

#capitiliazed
Name = 'tushar singh'.capitalize()      #in only first character will capital
print(Name)

#
Name = 'priti rajkumar singh'.title()      #in only all first character will capital
print(Name)

enter the name and last name tudgar

TUDGAR
Tushar singh
Priti Rajkumar Singh

In [19]:
#replace

a = 'my name is tushar'
print(a.replace('my name is tushar','python king'))   # print(a.replace('old','new'))

python king

In [ ]:
# 02 = # List[ ] $ Tuple( )

# List[ ]  - it is used to store the group of element whether it float, int, str it accept all the values
a = ['tushar',22,85.5,'tusa@gmail.com']
print(a)

#1 Ordered - Keeps insertion order ([10, 20, 30])
#2 mutable - Can be changed   (a[1] = 200)
#3 Dynamic - Size can change     (append(), remove())
#4 Heterogeneous - Can hold mixed data types    (a = ['tushar',22,85.5,'tusa@gmail.com'])

#update
# concatenate
#membership check

#Methods 
'''
1) append [] - stores the values and present in the last
2) Extend [] is join the 2 list and become the 1 list
3) insert in we add the values 
4) Remove - how to remove the value from the list
5) Clear -  which delete all the data present in lists
5) index - to know the index number in the list 
6) Count - it is used to know how many times element is ppresents
7) sort - how to sort the value is ascending order 
8) reverse 
9) min and max value
10) common elemwenta - in this we find the common values
11) range - (start, stop, step)
12) list comprehension - It’s a short and elegant way to create a new list from an existing one — all in one line of code.
13) comprehension - It’s a short and elegant way to create a new list from an existing one — all in one line of code.
14)

In [21]:
# Using Square Bracket
a = ['tushar',22,85.5,'tusa@gmail.com']
print(a)

['tushar', 22, 85.5, 'tusa@gmail.com']

In [22]:
#update it used to make changes in the elements 

lst = [1,2,3,4,5]
 
lst[0] = 'one'
print('updates list',lst)             #it replace the value from 0 to one

#multiple updates

list1 = [1,2,3,4,5]

list1[0:3] = 'one','two','three'
print('updated list = ',list1)       #it replace the value from 1,2,3 to one,two, three

updates list ['one', 2, 3, 4, 5]
updated list =  ['one', 'two', 'three', 4, 5]

In [23]:
# concatenate

l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

result = l1 + l2            #it concatenate means merge the to variables
print(result)

#Repeat muliple times

l3 = ['hi tushar',22]
print(l3 * 3)              #it will repeat 3 times

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['hi tushar', 22, 'hi tushar', 22, 'hi tushar', 22]

In [24]:
#membership check (in and not in)

list_1 = [7,8,9,4,5,6]
print('IN statement')
check = int(input('Enter the number'))
if check in list_1:                             #in operator will check whether the value is present or not in list
    print('Correct number')
else:
    print('In-Valid number enter')

IN statement

Enter the number 5

Correct number

In [25]:
#Methods
#append [] is used add the elements and it will present in last...

L1 = [1,2,3]
L1.append(4)
print(L1)

[1, 2, 3, 4]

In [26]:
# Extend [] is join the 2 list and become the 1 list
L1 = [1,2,3]
L2 = [4,5,6]
L1.extend(L2)
print(L1)

[1, 2, 3, 4, 5, 6]

In [27]:
# insert in we add the values 

a = [1,2,3,4]
a.insert(2,'Hi Coders')   #.insert(index_value,"enter the update")
print(a)

[1, 2, 'Hi Coders', 3, 4]

In [28]:
#Remove - how to remove the value from the list

a = [1,2,3,4,5,6]
a.remove(5)
print(a)

[1, 2, 3, 4, 6]

In [29]:
# Clear -  which delete all the data present in lists

a = [1,2,3,4,5]
a.clear()
print(a)

[]

In [30]:
# sort - how to sort the value is ascending order 

a = [30,50,70,89,20,100,45,48,47]
a.sort()
print(a)

[20, 30, 45, 47, 48, 50, 70, 89, 100]

In [31]:
#reverse 

a = [10,20,30,40,50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [32]:
# min and max value

a = [10,20,30,40,50]
print(min(a))
print(max(a))

10
50

In [33]:
# common elemwenta - in this we find the common values

a = [1,2,3,4,5,6,55,11,22]
b = [22,45,55,6,5,4,1]

#set function       # convert into sets
s1 = set(a)
s2 = set(b)

s3 = s1.intersection(s2)    # we intersect the s1 and s2
print(list(s3))             #this list we use to conver the set from list

[1, 4, 5, 6, 22, 55]

In [34]:
# range - (start, stop, step)

num = list(range(1,20,1))           #list we used to convert the tuple into list
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]